.gameList {
    width: 250px;
    height: 100vh;
    background-color: #141d26;
    position: absolute;
    left: 0px;
}

.gameListDiv {
    background-color: #141d26;
    color: white;
    display: block;
    padding: 12px;
    word-wrap: break-word;
}

.gameListDiv:hover {
    background-color: #243447;
}

.gameInfo {
    width: 250px;
    height: 100vh;
    background-color: #141d26;
    color: white;
    position: absolute;
    left: 0px;
}
