.bodyDark {
    background-color: #141d26;
}

.inputDark {
    color: white !important;
    background-color: #243447 !important;
}

.segmentDark {
    background-color: #1c2836 !important;
    padding: 20px !important;
}

.segmentDarkest {
    background-color: #141d26 !important;
    padding: 20px !important;
}
